.time {
    background-color: #012140;
    padding: 0 16px;
    margin: 64px 0;
    height: 75%;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border: 12px solid #0A0E14;
    border-right: none;
}