.statistics {
    background-color: #012140;
    padding: 16px 16px;
    margin: 64px 0;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border: 12px solid #0A0E14;
    border-left: none;

    h1 {
        color: #ffffff;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }

      li {
        color: #ffffff;
        margin-bottom: 8px;
        font-size: 16px;
      }
}

  
